	<!-- Header -->
	<% include templates/header.ejs %>
	<!--// -->
	<!-- Sidebar -->
	<% include templates/sidebar.ejs %>
	<!--// -->       
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">Advertising</li>
			</ol>

			<div class="card mb-3">
				<div class="card-header">
					<div class="row">
						<div class="col-md-10">
							<i class="fas fa-table"></i> Advertising
						</div>
						<div class="col-md-2">
							<a href="/addadvertise" class="btn btn-info btn-block" title="Advertise">Add New</a>
						</div>
					</div>	
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Image</th>
									<th>URL</th>
									<th>Position</th>
									<th>Duration</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Image</th>
									<th>URL</th>
									<th>Position</th>
									<th>Duration</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</tfoot>
							<tbody>
								<%
									if(advertising_result != '')
									{
										for(var i=0; i < advertising_result.length; i++)
										{
											var j=0;
											%>
												<tr>
													<td>
														<%
															if(advertising_result[i].image)
															{
																%>
																	<img src="/uploads/<%= advertising_result[i].image %>" width="100px;" height="100px">
																<%
															}
														%>
													</td>
													<td><%= advertising_result[i].url %></td>
													<td><%= advertising_result[i].position %></td>													
													<td><%= advertising_result[i].duration %> day</td>
													<td>
														<%
															if(advertising_result[i].status == true)
															{
																%>
																	<span class="text-success">Active</span>
																<%
															}
															else
															{
																%>
																	<span class="text-warning">Inactive</span>
																<%
															}
														%>
													</td>
													<td>	
														<a href="/editadvertise/<%= advertising_result[i]._id %>">
															<i class="fas fa-edit text-info"></i>
														</a>
														&nbsp;	
														<i class="fas fa-trash text-danger" onClick="removeDetails('removeadvertise', '<%= advertising_result[i]._id %>')" style="cursor:pointer"></i>
													</td>
												</tr>
											<%											
										}
									}								
								%>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
        </div>
        <!-- /.container-fluid -->
	<!-- Footer -->
	<% include templates/footer.ejs %>
	<!--// -->           