	<!-- Header -->
	<% include templates/header.ejs %>
	<!--// -->
	<!-- Sidebar -->
	<% include templates/sidebar.ejs %>
	<!--// -->       
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">Category</li>
			</ol>

			<div class="card mb-3">
				<div class="card-header">
					<div class="row">
						<div class="col-md-10">
							<i class="fas fa-table"></i> Category
						</div>
						<div class="col-md-2">
							<a href="/addcategory" class="btn btn-info btn-block" title="Category">Add New</a>
						</div>
					</div>	
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Name</th>
									<th>URL (slug)</th>
									<th>Description</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Name</th>
									<th>URL (slug)</th>
									<th>Description</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</tfoot>
							<tbody>
								<%
									if(category_result != '')
									{
										for(var i=0; i < category_result.length; i++)
										{
											%>
												<tr>		
													<td><%= category_result[i].name %></td>													
													<td><%= category_result[i].url_name %></td>													
													<td><%= category_result[i].description %></td>																										
													<td>
														<%
															if(category_result[i].status == true)
															{
																%>
																	Active
																<%
															}
															else
															{
																%>
																	Inactive
																<%
															}
														%>
													</td>	
													<td>		
														<a href="/editcategory/<%= category_result[i]._id %>">
															<i class="fas fa-edit text-info"></i>
														</a>
														&nbsp;	
														<i class="fas fa-trash text-danger" onClick="removeDetails('removecategory','<%= category_result[i]._id %>')" style="cursor:pointer"></i>
													</td>
												</tr>
											<%	
										}
									}
								%>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
        </div>
        <!-- /.container-fluid -->
	<!-- Footer -->
	<% include templates/footer.ejs %>
	<!--// -->           